In [1]:
#Challenge 1

#Column Lists
nameList = ["Edward Teach", "Anne Bonny", "John Rackham", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Zheng Yi Sao", "Francis Drake", "Jean Lafitte"]
yearsList = ["1716 to 1718", "1718 to 1720", "1718 to 1720", "1798 to 1810", "1564 to 1595", "1708 to 1721", "1515 to 1545", "1801 to 1810", "1563 to 1596", "1810 to 1823"]
sailedList = ["Caribbean", "Caribbean", "Caribbean", "South China Sea", "British Isles", "Caribbean", "Mediterranean", "South China Sea", "Caribbean", "Gulf of Mexico"]
aliasList = ["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", " Sir Francis Drake", "Terror of the Gulf"]


columnDict = {
    "Name" : nameList,
    "Years Active" : yearsList, 
    "Sailed" : sailedList, 
    "Alias" : aliasList
}

#Row lists
edward = []
anne = []
john = []
cheung = []
grace = []
mary = []
sayyida = []
zheng = []
francis = []
jean = []

for x in columnDict:
    edward.append(columnDict[x][0])
    anne.append(columnDict[x][1])
    john.append(columnDict[x][2])
    cheung.append(columnDict[x][3])
    grace.append(columnDict[x][4])
    mary.append(columnDict[x][5])
    sayyida.append(columnDict[x][6])
    zheng.append(columnDict[x][7])
    francis.append(columnDict[x][8])
    jean.append(columnDict[x][9])



rowDict = {
    "Edward Teach" : edward,
    "Anne Bonny" : anne, 
    "John Rackham" : john,
    "Cheung Po Tsai": cheung, 
    "Grace O'Malley" : grace, 
    "Mary Read": mary, 
    "Sayyida al Hurra" : sayyida,
    "Zheng Yi Sao" : zheng,
    "Francis Drake": francis, 
    "Jean Lafitte" : jean 
    
}

In [2]:
#Challenge 2 part 1

pirates = []
for i in range(10):
    if columnDict["Sailed"][i] == "Caribbean":
        string = columnDict["Years Active"][i]
        begYear = int(string[:4])
        if begYear >= 1700 and begYear < 1800 :
            pirates.append(columnDict["Name"][i])
print("The pirates that sailed the Carribbean in the 17th Century were:" + str(pirates))

The pirates that sailed the Carribbean in the 17th Century were:['Edward Teach', 'Anne Bonny', 'John Rackham', 'Mary Read']

In [3]:
#Challenge 2 part 2

careerList = []
for i in range(10):
    string = columnDict["Years Active"][i]
    begYear = int(string[:4])
    endYear = int(string[8:])
    career = endYear - begYear
    careerList.append(career)

sortedList = []
for i in careerList:
    sortedList.append(i)
sortedList.sort()

for i in range(10):
    if careerList[i] == sortedList[9]:
        index = i


print("The pirate with the longest career was " + columnDict["Name"][index])

The pirate with the longest career was Francis Drake

In [4]:
#Challenge 2 part 3

careerList = []
for i in range(10):
    string = columnDict["Years Active"][i]
    begYear = int(string[:4])
    endYear = int(string[8:])
    career = endYear - begYear
    careerList.append(career)

sum = 0

for i in careerList:
    sum = sum + i

avgCareer = sum/10

print("On average, these pirates were active for " + str(avgCareer) + " years")

On average, these pirates were active for 14.7 years

In [5]:
columnDict2 = {
    "Sex":["M", "F", "M", "M", "M", "F", "F", "F", "F", "M", "M"],
    "Age at Death":[40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
    "Height":[6.4, 5.6, 5.6, 5.3, 5.0, 5.1, "", 5.3, 5.5, 6.2],
    "Skull and Crossbones":[False, True,  True, False, False, True, False, False, False, False]
}

In [7]:
columnDict.update(columnDict2)
print(columnDict)

None
{'Name': ['Edward Teach', 'Anne Bonny', 'John Rackham', 'Cheung Po Tsai', "Grace O'Malley", 'Mary Read', 'Sayyida al Hurra', 'Zheng Yi Sao', 'Francis Drake', 'Jean Lafitte'], 'Years Active': ['1716 to 1718', '1718 to 1720', '1718 to 1720', '1798 to 1810', '1564 to 1595', '1708 to 1721', '1515 to 1545', '1801 to 1810', '1563 to 1596', '1810 to 1823'], 'Sailed': ['Caribbean', 'Caribbean', 'Caribbean', 'South China Sea', 'British Isles', 'Caribbean', 'Mediterranean', 'South China Sea', 'Caribbean', 'Gulf of Mexico'], 'Alias': ['Blackbeard', '', 'Calico Jack', 'The Kid', 'Queen of Ireland', 'Mark', 'Hakimat Titwan', 'Ching Shih', ' Sir Francis Drake', 'Terror of the Gulf'], 'Sex': ['M', 'F', 'M', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M'], 'Age at Death': [40, 24, 'N/A', 37, 39, 73, 36, 75, 69, 56, 46], 'Height': [6.4, 5.6, 'N/A', 5.6, 5.3, 5.0, 5.1, '', 5.3, 5.5, 6.2], 'Skull and Crossbones': [False, True, 'N/A', True, False, False, True, False, False, False, False]}